/* font-family: 'Dongle', sans-serif;
font-family: 'Mochiy Pop P One', sans-serif; */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 18px;
}

html,
.emoji-input {
  text-align: center;
  font-family: "Dongle", sans-serif;
}

body {
  background-image: linear-gradient(
    rgb(190, 190, 190),
    rgb(255, 255, 255),
    rgb(190, 190, 190),
    rgb(255, 255, 255)
  );

  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 3rem;
}

p {
  color: rgb(77, 77, 77);
  margin-bottom: 2em;
}

button {
  font-family: "Dongle", sans-serif;
  font-size: 2rem;
  line-height: 1;
  padding: 0.1em;
  border: none;
  margin: 0.5em 0;
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(1.1);
  color: rgb(196, 196, 196);
}

.header-container {
  width: 90%;
  max-width: 800px;
  margin: 3rem auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.emoji-input {
  font-size: 2rem;

  box-shadow: 0px 0px 20px -5px rgb(160 160 160);
  margin: 3rem 0 1rem 0;
  border: none;
  border-radius: 5px;
  padding: 0.3em;
}

.add-start-btn,
.add-end-btn {
  background-color: #00a4ccff;
}

.remove-start-btn,
.remove-end-btn {
  background-color: #ff3ea5ff;
}

.add-start-btn,
.remove-start-btn {
  border-radius: 0px 10px 10px 0px;
}

.add-end-btn,
.remove-end-btn {
  border-radius: 10px 0 0 10px;
}

@media (min-width: 700px) {
  button {
    font-size: 2.3rem;

    padding: 0.1em;
    border: none;
    margin: 0.8em;
  }

  .container {
    width: 90%;
    max-width: 760px;
    margin: 0 auto;
  }

  .add-end-btn,
  .remove-end-btn,
  .add-start-btn,
  .remove-start-btn {
    border-radius: 10px;
  }
}
